.sliding-side-bar {
    background-color: #003856;
    position: fixed;
    top: 40px;
    left: 0px;
    height: calc(100% - 50px);
    width: 300px;
    padding: 5px;
    color: white;
}
.sliding-side-bar-floting-button {
    position: absolute;
    right: -25px;
    color: #002f48;
    text-shadow: 1px 1px 1px rgba(36, 95, 128, 0.54);
    font-size: 30px;
    top: 7px;
}
